extends _layout

block content
  include _notify
  h1.title แก้ไขรหัสผ่าน
  hr
  form(action="/password?_method=put", method="post")
    .field
      .control
        label.label รหัสผ่านเดิม
        input.input(type="password" name="currentPassword" required)
    .field
      .control
        label.label รหัสผ่านใหม่
        input.input(type="password" name="newPassword" required)
    hr
    .field
      button.button.is-link แก้ไขรหัสผ่าน
